<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      eID+ Check App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">eID+ Check App</ion-title>
    </ion-toolbar>
  </ion-header>



  <div *ngIf="isAuthenticated; else noAuth">
    <button (click)="logout()">Logout</button>
    <button (click)="logoffAndRevokeTokens()">Logout and revoke tokens</button>
    <button (click)="revokeAccessToken()">Revoke access token</button>
    <button (click)="revokeRefreshToken()">Revoke refresh token</button>
    <button (click)="refreshSession()">Refresh session</button>
    <hr />
  
    <br />
  
    Is Authenticated: {{ isAuthenticated }}
  
    <br />
    userData
    <pre>{{ userData$ | async | json }}</pre>
  
    <br />
  </div>
  
  <ng-template #noAuth>
    <button (click)="login()">Login</button>
    <hr />
  </ng-template>
  
  Configuration loaded:
  <pre>{{ configuration | json }}</pre>



</ion-content>
