.isok{
  background-color: green;

}

.notok{
  background-color: red;
}

.toolbar-container{
  background-color: var(--ion-color-primary) !important;
}

:host{
  --ion-toolbar-background: var(--ion-color-primary) !important;
  --background: var(--ion-color-primary) !important;
}

.pictureage{
  height: 300px;
  width: 300px;

}
ion-avatar{

  height: 300px !important;
  width: 300px !important;

}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 100px !important;
  width: 100px !important;

}

.logotitel{
  text-align: center;
}


/*
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}
*/